.dropdown-menu>li>a{
    display; block;
    padding:3px 20px ;
    clear:both;
    font-weight:normal;
    line-height:20px;
    color:#333333;
    white-space:nowrap;
}
.dropdown-menu>li:hover{
    background-color:#999999;
    color:#ffffff;
}
.btn-group{
    float: right;
    margin-right: 60px;
}